[submodule "mmm"]
	path = mmm
	url = https://github.com/pawroman/mmm
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/pawroman/rock-paper-scissors
[submodule "advent-of-rust-2018"]
	path = advent-of-rust-2018
	url = https://github.com/pawroman/advent-of-rust-2018
